<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Livewire</title>
    <link rel="icon" href="https://www.livetechskills.com/images/WebSiteImg_livewirelogo.png">
    <link rel="stylesheet" href="static/css/front/style.css">
    <link rel="stylesheet" href="static/css/front/default.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="static/css/front/nivo-slider.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
       <!-- Owl Stylesheets -->
       <link rel="stylesheet" href="static/css/front/owl.carousel.min.css">
       <link rel="stylesheet" href="static/css/front/owl.theme.default.min.css">
 
       
     
    
</head>

<body>
    <div class="top-header">
        <div class="container">
            <div class="flex-aligner">
                <div class="left">
                    <a href="https://www.facebook.com/livewirelivetechskills"><i class="fa fa-facebook"
                            aria-hidden="true"></i>Facebook</a>
                    <a href="https://twitter.com/LivewireNagpur"><i class="fa fa-twitter"
                            aria-hidden="true"></i>Twitter</a>
                    <a href="https://www.instagram.com/livewire_livetechskills"><i class="fa fa-instagram"
                            aria-hidden="true"></i>Instagram</a>
                </div><!-- left-->
                <div class="right">
                    <a href="tel: 9096060149"><i class="fa fa-phone" aria-hidden="true"></i> 9096060149</a>
                    <a href="mailto:enquiry@livetechskills.com"><i class="fa fa-envelope" aria-hidden="true"></i>
                        enquiry@livetechskills.com</a>
                </div><!-- right-->
            </div><!-- flex-aligner-->
        </div><!-- container-->
    </div><!-- top-header-->
    <div class="header">
        <div class="container">
            <div class="flex-aligner">
                <div class="logo">
                    <div class="logo-img">
                        <img src="static/img/front/WebSiteImg_livewirelogo.png">
                    </div><!-- logo-img-->
                </div><!-- logo-->
                <div class="navbar">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Course</a></li>
                        <li><a href="#">Teachers</a></li>
                        <li><a href="#">Events</a></li>
                        <li><a href="#">contact</a></li>
                    </ul>
                </div><!-- navbar-->
            </div><!-- flex-aligner-->
        </div><!-- container-->
    </div><!-- header-->


    <div class="slider-main">
        <div id="wrapper">
            <div class="slider-wrapper theme-default">
               
                <div id="slider" class="nivoSlider">
                    <img src="static/img/front/slider1.jpg" data-thumb="static/img/front/slider1.jpg" alt="" title="#htmlcaption" />
                    <img src="static/img/front/slider2.jpg" data-thumb="static/img/front/slider2.jpg" alt="" />
                    <img src="static/img/front/slider3.jpg" alt="" data-transition="slideInLeft" title="#htmlcaption1" />
                    <img src="static/img/front/slider4.jpg" alt="" title="#htmlcaption2" />
                </div><!-- slider nivoSlider-->

                <div class="slider-caption">

                    <div id="htmlcaption" class="nivo-html-caption">
                        <h1>Welcome To LIVEWIRE!!</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis expedita quasi aperiam ratione
                            in beatae! Deserunt natus, voluptatibus quas dolorem minima ipsum numquam laborum, similique
                            nisi suscipit, quae explicabo hic?</p>
                            <a href="#"><button>Get Started<i class="fa fa-arrow-right" aria-hidden="true"></i></button></a>
                    </div><!-- html-caption-->
                    <div id="htmlcaption1" class="nivo-html-caption">
                        <h1>Provides Training on Hottest Technologies of Industry</h1>
                        <a href="#"><button>Get Started<i class="fa fa-arrow-right" aria-hidden="true"></i></button></a>
                    </div><!-- html-caption-->
                    <div id="htmlcaption2" class="nivo-html-caption">
                        <h1>The beautiful thing about learning is that no one can take it away from you.</h1>
                        <a href="#"><button>Get Started<i class="fa fa-arrow-right" aria-hidden="true"></i></button></a>
                    </div><!-- html-caption-->

                </div><!-- slider-caption-->

            </div><!-- slider-wrapper-->
        </div><!-- wrapper-->
    </div><!-- slider-main-->

    <div  class="section section1">
        <div class="container">
            <div class="partician-img">
                <img src="static/img/front/section1img (2).png">
            </div>
            <div class="flex-aligner">
                <div class="section-title">
                    <h4><i class="fa fa-book" aria-hidden="true"></i>COURSES CATEGORIES</h4>
                    <h2>Explore Top Categories</h2>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed, nihil.</p>
                    <a href="#"><button  class="btn">View All Categories<i class="fa fa-arrow-right" aria-hidden="true"></i></button></a>
                </div><!-- section-title-->
                <div class="section-content">
                    <div class="owl-carousel owl-theme owl-section1">
                        <div class="col item">
                            <div class="col-img"><img src="static/img/front/imgicon1.png"></div>
                            <h4 class="nm">ARTIFICIAL INTELLIGENCE</h4>
                            <a href="#"><button class="btn">Learn More<i class="fa fa-arrow-right" aria-hidden="true"></i></button></a>
                        </div><!-- col-->
                        <div class="col item">
                            <div class="col-img"><img src="static/img/front/imgicon2.png"></div>
                            <h4>DATA SCIENCE</h4>
                            <a href="#"><button  class="btn">Learn More<i class="fa fa-arrow-right" aria-hidden="true"></i></button></a>
                        </div><!-- col-->
                        <div class="col item">
                            <div class="col-img"><img src="static/img/front/imgicon3.png"></div>
                            <h4 class="nm">MACHINE <br>LEARNING</h4>
                            <a href="#"><button  class="btn">Learn More<i class="fa fa-arrow-right" aria-hidden="true"></i></button></a>
                        </div><!-- col-->
                        <div class="col item">
                            <div class="col-img"><img src="static/img/front/imgicon4.png"></div>
                            <h4>PYTHON</h4>
                            <a href="#"><button  class="btn">Learn More<i class="fa fa-arrow-right" aria-hidden="true"></i></button></a>
                        </div>
                        <div class="col item">
                            <div class="col-img"><img src="static/img/front/imgicon5.png"></div>
                            <h4 class="nm">AUTOCAD ELECTRICAL</h4>
                            <a href="#"><button  class="btn">Learn More<i class="fa fa-arrow-right" aria-hidden="true"></i></button></a>
                        </div>
                        <div class="col item">
                            <div class="col-img"><img src="static/img/front/imgicon6.png"></div>
                            <h4 class="nm">ELECTRICAL POWER SYSTEM ANALYSIS</h4>
                            <a href="#"><button  class="btn btn1">Learn More<i class="fa fa-arrow-right" aria-hidden="true"></i></button></a>
                        </div>
                    </div><!-- flex-aligner-->
                </div><!-- section-content-->
            </div><!-- flex-aligner-->
        </div><!-- container-->
    </div><!-- section1-->

    <div class="section section-about">
        <div class="bg-overlay"></div>
        <div class="container">
            <div class="flex-aligner">
                <div class="section-img section-img-team">
                    <div class="section-tilte">
                        <h4><i class="fa fa-user" aria-hidden="true"></i>Our Core Team</h4>
                        <div class="owl-carousel owl-theme owlabout">
                        <div class="team-img item">
                            <img src="static/img/front/akshaysir-img.png">
                        </div>
                        <div class="team-img item">
                            <img src="static/img/front/swapnilsir-img.png">
                        </div>
                    </div><!-- owl-carousel1-->
                    </div>
                </div><!-- section-img-->
                <div class="section-cont section-cont-abt">
                    <div class="section-title">
                        <h4><i class="fa fa-book" aria-hidden="true"></i>ABOUT OUR INSTITUTE</h4>
                        <h2>Welcome To Livewire Nagpur</h2>
                        <p>LIVEWIRE (LiveTechSkills) - A Division of CADD Centre Training Services Pvt Ltd,
                             is an approved Skill Development Partner of National Skill Development Corporation (NSDC). 
                             LIVEWIRE(LiveTechSkills) promotes a unique combination of technologies that are specific to IT,
                              Computer science, Electronics & Electrical departments. We deal with Emerging technologies like Data Science,
                             Machine Learning, IoT, Artificial Intelligence, Blockchain, Full Stack Developer, Cybersecurity, 
                             Automotive Embed</p>
                        <a href="#"><button  class="btn">Know More<i class="fa fa-arrow-right" aria-hidden="true"></i></button></a>
                    </div><!-- section-title-->
                </div><!-- sectrion-cont-->
            </div><!-- flex-aligner-->
        </div><!-- container-->
    </div><!-- section-about-->

    <div class="section section-course">
        <div class="container">
            <div class="section-title section-title-center">
                <h4><i class="fa fa-book" aria-hidden="true"></i>POPULAR COURSES</h4>
                <h2>Our Popular Courses</h2>
            </div><!-- section-title-->
            <div class="flex-aligner flex-wrap">
                <div class="course-box">
                    <h4>ARTIFICIAL INTELLIGENCE</h4>
                    <div class="c-img"> <img src="static/img/front/AI.jpg"></div>
                   
                    <p>Artificial intelligence is one of the hottest technology these days. It is creating a massive number of
                         opportunities for students as well as professionals in</p>
                     <a href="#"><button  class="btn">Read More<i class="fa fa-arrow-right" aria-hidden="true"></i></button></a>
                </div><!-- course-box-->
                <div class="course-box">
                    <h4>ELECTRICAL POWER SYSTEM ANALYSIS</h4>
                    <div class="c-img"> <img src="static/img/front/electrical-power-sys.jpg"></div>
                    <p>ETAP is the most powerful software in the area of Electrical Power systems. Using this software you 
                        can design and analyze your power system from the source of power all</p>
                     <a href="#"><button  class="btn">Read More<i class="fa fa-arrow-right" aria-hidden="true"></i></button></a>
                </div><!-- course-box-->
                
                <div class="course-box">
                    <h4>MACHINE LEARNING</h4>
                    <div class="c-img"> <img src="static/img/front/Machine-Learning.jpg"></div>
                    <p>Machine Learning is a technique behind innovations such as facial recognition, self-driving cars,
                         predictive results in search, Predictive text etc. It is playing a</p>
                     <a href="#"><button  class="btn">Read More<i class="fa fa-arrow-right" aria-hidden="true"></i></button></a>
                </div><!-- course-box-->
                <div class="course-box">
                    <h4>PYTHON</h4>
                    <div class="c-img">  <img src="static/img/front/python.jpg"></div>
                    <p>Python is a simple and powerful programming language. It has efficient high-level data structures and effective approach towards object-oriented</p>
                     <a href="#"><button  class="btn">Read More<i class="fa fa-arrow-right" aria-hidden="true"></i></button></a>
                </div><!-- course-box-->
                <div class="course-box">
                    <h4>AUTOCAD ELECTRICAL</h4>
                    <div class="c-img"> <img src="static/img/front/Autocad-electrical.jpg"></div>
                    <p>Our Livewire offers you a training program for Electrical cad courses that is AutoCAD Electrical course and 
                        Revit MEP course with certification in nearby locations in</p>
                     <a href="#"><button  class="btn">Read More<i class="fa fa-arrow-right" aria-hidden="true"></i></button></a>
                </div><!-- course-box-->
                <div class="course-box">
                    <h4>DATA SCIENCE</h4>
                    <div class="c-img"> <img src="static/img/front/data-science.jpg"></div>
                    <p>Data Science is considered as a professional field that includes the process of extracting the knowledge using the data. 
                        There are lots of elements like computer</p>
                     <a href="#"><button  class="btn">Read More<i class="fa fa-arrow-right" aria-hidden="true"></i></button></a>
                </div><!-- course-box-->
                
            </div><!-- flex-aligner-->
        </div><!-- container-->
    </div><!-- section-course-->

    <div class="section section-choose">
        <div class="container">
            <div class="section-title section-title-center">
                <h4><i class="fa fa-question" aria-hidden="true"></i>WHY CHOOSE US</h4>
                <h2>Choose to Shine</h2>
            </div><!-- section-title-->
            <div class="flex-aligner flex-wrap">
                <div class="choose-box">
                    <div class="spinner"></div>
                    <div class="img-choose">
                        <img src="static/img/front/chhose1.png">
                    </div>
                    <h4>Authorized training centre.</h4>
                </div><!-- choose-box-->
                <div class="choose-box">
                    <div class="spinner"></div>
                    <div class="img-choose">
                        <img src="static/img/front/choose2.png">
                    </div>
                    <h4>Internationally Recognized Certificate.</h4>
                </div><!-- choose-box-->
                <div class="choose-box">
                    <div class="spinner"></div>
                    <div class="img-choose">
                        <img src="static/img/front/choose3.png">
                    </div>
                    <h4>100% Guarantee for Global Placement Assistance.</h4>
                </div><!-- choose-box-->
                <div class="choose-box">
                    <div class="spinner"></div>
                    <div class="img-choose">
                        <img src="static/img/front/choose4.png">
                    </div>
                    <h4>Detailed courseware comprising 30-40% more content.</h4>
                </div><!-- choose-box-->
                <div class="choose-box">
                    <div class="spinner"></div>
                    <div class="img-choose">
                        <img src="static/img/front/choose5.png">
                    </div>
                    <h4>Individual focus.</h4>
                </div><!-- choose-box-->
                <div class="choose-box">
                    <div class="spinner"></div>
                    <div class="img-choose">
                        <img src="static/img/front/choose6.png">
                    </div>
                    <h4>Professional & Certified tutors.</h4>
                </div><!-- choose-box-->
                <div class="choose-box">
                    <div class="spinner"></div>
                    <div class="img-choose">
                        <img src="static/img/front/choose7.png">
                    </div>
                    <h4>Special visual techniques for teaching.</h4>
                </div><!-- choose-box-->
                <div class="choose-box">
                    <div class="spinner"></div>
                    <div class="img-choose">
                        <img src="static/img/front/choose8.png">
                    </div>
                    <h4>NSDC & MSME approved.</h4>
                </div><!-- choose-box-->
            </div><!-- flex-aligner-->
        </div><!-- container-->
    </div><!-- section-choose-->

    <div class="section section-team">
        <div class="container">
            <div class="section-title section-title-center">
                <h4><i class="fa fa-user" aria-hidden="true"></i>OUR INSTRUCTOR</h4>
                <h2>Meet Our Expert Instructor</h2>
            </div><!-- section-title-->
            <div class="flex-aligner flex-wrap">
                <div class="team-box">
                    <div class="team-img">
                        <img src="static/img/front/team1.jpg">
                    </div><!-- team-img-->
                    <div class="social-media-team">
                        <div class="overflow-team"></div>
                        <div class="social-i">
                        <a href="#" target="_blank"><i class="fa fa-facebook facebook" aria-hidden="true"></i></a>
                        <a href="#" target="_blank"><i class="fa fa-twitter twitter" aria-hidden="true"></i></a>
                        <a href="#" target="_blank"><i class="fa fa-linkedin linkedin" aria-hidden="true"></i></a>
                        </div>
                    </div><!-- social-media-team-->
                    <div class="team-content">
                        <h3>Name</h3>
                        <h4>Position</h4>
                    </div><!-- team-content-->
                </div><!-- team-box-->
                
                <div class="team-box">
                    <div class="team-img">
                        <img src="static/img/front/team2.jpg">
                    </div><!-- team-img-->
                    <div class="social-media-team">
                        <div class="overflow-team"></div>
                        <div class="social-i">
                        <a href="#" target="_blank"><i class="fa fa-facebook facebook" aria-hidden="true"></i></a>
                        <a href="#" target="_blank"><i class="fa fa-twitter twitter" aria-hidden="true"></i></a>
                        <a href="#" target="_blank"><i class="fa fa-linkedin linkedin" aria-hidden="true"></i></a>
                        </div>
                    </div><!-- social-media-team-->
                    <div class="team-content">
                        <h3>Name</h3>
                        <h4>Position</h4>
                    </div><!-- team-content-->
                </div><!-- team-box-->
                <div class="team-box">
                    <div class="team-img">
                        <img src="static/img/front/team3.jpg">
                    </div><!-- team-img-->
                    <div class="social-media-team">
                        <div class="overflow-team"></div>
                        <div class="social-i">
                        <a href="#" target="_blank"><i class="fa fa-facebook facebook" aria-hidden="true"></i></a>
                        <a href="#" target="_blank"><i class="fa fa-twitter twitter" aria-hidden="true"></i></a>
                        <a href="#" target="_blank"><i class="fa fa-linkedin linkedin" aria-hidden="true"></i></a>
                        </div>
                    </div><!-- social-media-team-->
                    <div class="team-content">
                        <h3>Name</h3>
                        <h4>Position</h4>
                    </div><!-- team-content-->
                </div><!-- team-box-->

                <div class="team-box">
                    <div class="team-img">
                        <img src="static/img/front/team4.jpg">
                    </div><!-- team-img-->
                    <div class="social-media-team">
                        <div class="overflow-team"></div>
                        <div class="social-i">
                        <a href="#" target="_blank"><i class="fa fa-facebook facebook" aria-hidden="true"></i></a>
                        <a href="#" target="_blank"><i class="fa fa-twitter twitter" aria-hidden="true"></i></a>
                        <a href="#" target="_blank"><i class="fa fa-linkedin linkedin" aria-hidden="true"></i></a>
                        </div>
                    </div><!-- social-media-team-->
                    <div class="team-content">
                        <h3>Name</h3>
                        <h4>Position</h4>
                    </div><!-- team-content-->
                </div><!-- team-box-->

                <div class="team-box">
                    <div class="team-img">
                        <img src="static/img/front/team4.jpg">
                    </div><!-- team-img-->
                    <div class="social-media-team">
                        <div class="overflow-team"></div>
                        <div class="social-i">
                        <a href="#" target="_blank"><i class="fa fa-facebook facebook" aria-hidden="true"></i></a>
                        <a href="#" target="_blank"><i class="fa fa-twitter twitter" aria-hidden="true"></i></a>
                        <a href="#" target="_blank"><i class="fa fa-linkedin linkedin" aria-hidden="true"></i></a>
                        </div>
                    </div><!-- social-media-team-->
                    <div class="team-content">
                        <h3>Name</h3>
                        <h4>Position</h4>
                    </div><!-- team-content-->
                </div><!-- team-box-->

                <div class="team-box">
                    <div class="team-img">
                        <img src="static/img/front/team3.jpg">
                    </div><!-- team-img-->
                    <div class="social-media-team">
                        <div class="overflow-team"></div>
                        <div class="social-i">
                        <a href="#" target="_blank"><i class="fa fa-facebook facebook" aria-hidden="true"></i></a>
                        <a href="#" target="_blank"><i class="fa fa-twitter twitter" aria-hidden="true"></i></a>
                        <a href="#" target="_blank"><i class="fa fa-linkedin linkedin" aria-hidden="true"></i></a>
                        </div>
                    </div><!-- social-media-team-->
                    <div class="team-content">
                        <h3>Name</h3>
                        <h4>Position</h4>
                    </div><!-- team-content-->
                </div><!-- team-box-->

                <div class="team-box">
                    <div class="team-img">
                        <img src="static/img/front/team2.jpg">
                    </div><!-- team-img-->
                    <div class="social-media-team">
                        <div class="overflow-team"></div>
                        <div class="social-i">
                        <a href="#" target="_blank"><i class="fa fa-facebook facebook" aria-hidden="true"></i></a>
                        <a href="#" target="_blank"><i class="fa fa-twitter twitter" aria-hidden="true"></i></a>
                        <a href="#" target="_blank"><i class="fa fa-linkedin linkedin" aria-hidden="true"></i></a>
                        </div>
                    </div><!-- social-media-team-->
                    <div class="team-content">
                        <h3>Name</h3>
                        <h4>Position</h4>
                    </div><!-- team-content-->
                </div><!-- team-box-->

                <div class="team-box">
                    <div class="team-img">
                        <img src="static/img/front/team1.jpg">
                    </div><!-- team-img-->
                    <div class="social-media-team">
                        <div class="overflow-team"></div>
                        <div class="social-i">
                        <a href="#" target="_blank"><i class="fa fa-facebook facebook" aria-hidden="true"></i></a>
                        <a href="#" target="_blank"><i class="fa fa-twitter twitter" aria-hidden="true"></i></a>
                        <a href="#" target="_blank"><i class="fa fa-linkedin linkedin" aria-hidden="true"></i></a>
                        </div>
                    </div><!-- social-media-team-->
                    <div class="team-content">
                        <h3>Name</h3>
                        <h4>Position</h4>
                    </div><!-- team-content-->
                </div><!-- team-box-->
            </div><!-- flex-aligner-->
        </div><!-- container-->
    </div><!-- section-team-->

    <div class=" section section-partner">
        <div class="bg-overlay"></div>
        <div class="container">
            <div class="flex-aligner">
                <div class="flex-partner">
                    <div class="section-title ">
                        <h4><i class="fa fa-handshake-o" aria-hidden="true"></i>OUR TRUSTED PARTNERS</h4>

                        <h2>We Have More Than <span style="color: #00d2ff;"  class="counter">1000</span><span style="color: #00d2ff;">+</span><br> Global Partners</h2>
                    </div><!-- section-title-->
                    <div class="partner-img1" >
                        <img src="https://cdn.pixabay.com/photo/2022/04/21/06/20/particles-7146718_1280.jpg">
                    </div>
                </div><!-- flex-partner-->
                <div class="partner-logo">
                    <div class="flex-aligner flex-wrap">
                        <div class="partner-box">
                            <a href="#">
                                <img src="static/img/front/WebSiteImg_partner1.jpg">
                            </a>
                        </div><!-- partner-box-->
                        <div class="partner-box">
                            <a href="#">
                                <img src="static/img/front/WebSiteImg_partner2.jpg">
                            </a>
                        </div><!-- partner-box-->
                        <div class="partner-box">
                            <a href="#">
                                <img src="static/img/front/WebSiteImg_partner3.jpg">
                            </a>
                        </div><!-- partner-box-->
                        <div class="partner-box">
                            <a href="#">
                                <img src="static/img/front/WebSiteImg_partner4.jpg">
                            </a>
                        </div><!-- partner-box-->
                        <div class="partner-box">
                            <a href="#">
                                <img src="static/img/front/WebSiteImg_partner5.jpg">
                            </a>
                        </div><!-- partner-box-->
                        <div class="partner-box">
                            <a href="#">
                                <img src="static/img/front/WebSiteImg_oracle.png" class="m-img">
                            </a>
                        </div><!-- partner-box-->
                        <div class="partner-box">
                            <a href="#">
                                <img src="static/img/front/WebSiteImg_Nasscom-Logo.png" class="m-img">
                            </a>
                        </div><!-- partner-box-->
                        <div class="partner-box">
                            <a href="#">
                                <img src="static/img/front/WebSiteImg_comptia.png" class="m-img">
                            </a>
                        </div><!-- partner-box-->
                        <div class="partner-box">
                            <a href="#">
                                <img src="static/img/front/WebSiteImg_certiport.jpg" class="m-img">
                            </a>
                        </div><!-- partner-box-->
                       <!-- <div class="partner-box">
                            <a href="#">
                                <img src="static/img/front/WebSiteImg_blockchain-council.png">
                            </a>
                        </div>-->
                    </div><!-- flex-aligner-->
                </div><!-- partner-logo-->
            </div><!-- flex-aligner-->
        </div><!-- container-->
    </div><!-- section-partner-->

    <div class="section-counter">
        <div class="container">
            <div class="counter-wrap">
                <div class="bg-overlay"></div>
            <div class="flex-aligner">
                <div class="counter-box">
                    <h1><span class="counter">3.5</span>k+</h1>
                    <h4>Successfully <span>Trained</span></h4>
                </div><!-- counter-box-->
                
                <div class="counter-box">
                    <h1><span class="counter">8.5</span>k+</h1>
                    <h4>Classes <span>Completed</span></h4>
                </div><!-- counter-box-->

                <div class="counter-box">
                    <h1><span class="counter">95.5</span>k+</h1>
                    <h4>Satisfaction  <span>Rate</span></h4>
                </div><!-- counter-box-->

                <div class="counter-box">
                    <h1><span class="counter">100</span>k+</h1>
                    <h4>Students <span>Community</span></h4>
                </div><!-- counter-box-->
            </div><!-- flex-aligner-->
        </div>
        </div><!-- container-->
    </div><!-- counter-->
    
    <div class="section section-infrastructure">
        <div class="container">
            <div class="section-title section-title-center">
                <h4><i class="fa fa-building" aria-hidden="true"></i>Our Infrastructure</h4>
                <h2>More Friendly And More Comfortable</h2>
            </div><!-- section-title-->
            <div class="flex-aligner">
                <div class="infra-box">
                   <div class="infra-img">
                    <a href="https://www.livetechskills.com/Encyc/2021/2/15/2_12_31_49_LiveWire-Nagpur-Exterior_1.png">
                        <img src="static/img/front/infrastructure1.png">
                    </a>
                   </div><!-- infra-img-->
                   <div class="infra-cont">
                        <h4>LiveWire Nagpur Exterior</h4>
                   </div><!-- infra-cont-->
                </div><!-- infra-box-->
                <div class="infra-box">
                    <div class="infra-img">
                     <a href="https://www.livetechskills.com/Encyc/2021/2/15/2_12_30_22_LiveWire-Nagpur-Waiting-Area_1.jpg">
                        <img src="static/img/front/infrastructure1.png">
                     </a>
                    </div><!-- infra-img-->
                    <div class="infra-cont">
                         <h4>LiveWire Nagpur Entry</h4>
                    </div><!-- infra-cont-->
                 </div><!-- infra-box-->
                 <div class="infra-box">
                    <div class="infra-img">
                     <a href="https://www.livetechskills.com/Encyc/2021/2/15/2_12_30_55_LiveWire-Nagpur-Lab_1.jpg">
                        <img src="static/img/front/infrastructure3.jpg">
                     </a>
                    </div><!-- infra-img-->
                    <div class="infra-cont">
                         <h4>LiveWire Nagpur classes</h4>
                    </div><!-- infra-cont-->
                 </div><!-- infra-box-->
                 <div class="infra-box">
                    <div class="infra-img">
                    <a href="https://content3.jdmagicbox.com/comp/nagpur/w3/0712px712.x712.200219135444.h1w3/catalogue/livewire-livetechskills-nandanvan-colony-nagpur-computer-training-institutes-for-c-programming-y85w7vkhjk.jpg">
                        <img src="static/img/front/infrastructure4.jpg">
                    </a> 
                    </div><!-- infra-img-->
                    <div class="infra-cont">
                         <h4>LiveWire Nagpur In Navratri</h4>
                    </div><!-- infra-cont-->
                 </div><!-- infra-box-->

            </div><!-- flex-aligner-->
        </div><!-- container-->
    </div><!-- section-infrastructure -->

    <div class="footer">
        <div class="container">
            <div class="footer-wrap">
                <div class="bg-overlay"></div>
            <div class="flex-aligner">
                <div class="footer-box">
                    <div class="footer-logo">
                        <a href="https://www.livetechskills.com/"><img src="static/img/front/WebSiteImg_livewirelogo.png"></a>
                    </div>
                    <p>The Web as I envisaged it, we have not seen it yet. 
                        The future is still so much bigger than the past.</p>
                    <div class="social-icon">
                        <h3>FOLLOW US ON:</h3>
                        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                    </div><!-- social-icon-->
                </div><!-- footer-box-->
                <div class="footer-box">
                    <h3>Information</h3>
                    <ul>
                        <a><li><i class="fa fa-arrow-right" aria-hidden="true"></i>Online Courses</li></a>
                        <a><li><i class="fa fa-arrow-right" aria-hidden="true"></i>Video Guides</li></a>
                        <a><li><i class="fa fa-arrow-right" aria-hidden="true"></i>Community</li></a>
                        <a><li><i class="fa fa-arrow-right" aria-hidden="true"></i>Our Events</li></a>
                    </ul>
                </div><!-- footer-box-->
                <div class="footer-box footer-box3">
                    <h3>Contact Info</h3>
                    <a href="tel:+91 9096060149"><span>Phone:</span>+91 9096060149</a><br>
                    <a href="mailto:enquiry@livetechskills.com"><span>Eamil:</span>enquiry@livetechskills.com</a><br>
                    <a><span>Location:</span>Plot No. 13, 1st floor, Block 2, MB Tower, Nandanvanam Main Rd, Mire Layout,
                         Jawahar Nagar, Nandanvan <br> Nagpur, Maharashtra 440009</a>
                </div><!-- footer-box-->
                <div class="footer-box">
                    <h3>Get in touch!</h3>
                    <p>Subscribe our newsletter to get our latest Update & news</p>
                    <form>
                        
                        <input type="email" placeholder="Enter you Email">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                        <input type="submit" value="Subscribe">
                    </form>
                </div><!-- footer-box-->
            </div><!-- flex-aligner-->
          </div><!-- footer-wrap-->
        </div><!-- container-->
   
        <div class="copyrigth">
            <div class="container">
                <div class="flex-aligner">
                    <div><p>Copyright © 2023 All Rights Reserved.</p></div>
                    <div>Powered By: "LiveWire Team"</div>
                </div><!-- flex-aligner-->
            </div><!-- container-->
        </div><!-- copyright-->
    </div><!-- footer-->


   <!-- counterup-js-->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
    <script src="static/js/front/jquery.counterup.min.js"></script>
    <script>
        jQuery(document).ready(function( $ ) {
            $('.counter').counterUp({
                delay: 10,
                time: 5000
            });
        });
      </script>
    

    <!-- nivoslider-js-->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="static/js/front/jquery.nivo.slider.js"></script>
    <script type="text/javascript">
        $(window).load(function () {
            $('#slider').nivoSlider({
                manualAdvance: false
            });
        });
    </script>

   
   <!-- owl-carousel for section 1-->
    <script>
        $(document).ready(function() {
          var owl = $('.owl-section1');
          owl.owlCarousel({
            margin: 10,
            nav: true,
            loop: true,
            responsive: {
              0: {
                items: 1
              },
              600: {
                items: 3
              },
              1000: {
                items: 3
              }
            }
          })
        })
      </script>

       <!-- owl-carousel for section-about  -->

       <script>
        $(document).ready(function() {
          var owl = $('.owlabout');
          owl.owlCarousel({
            items: 1,
            loop: true,
            margin: 10,
            autoplay: true,
            autoplayTimeout: 5000,
            autoplayHoverPause: true
          });
          $('.play').on('click', function() {
            owl.trigger('play.owl.autoplay', [1000])
          })
          $('.stop').on('click', function() {
            owl.trigger('stop.owl.autoplay')
          })
        })
      </script>
      <!-- javascript -->
     <script src="static/js/front/owl.carousel.js"></script>

</body>

</html>