{% extends "user/usernav.html" %}


{% block content %}

<!-- 1 background -->
<div class="card text-white bg-primary  rounded-0 border-0">
  <div class="card text-white bg-dark bg-opacity-50 rounded-0 border-0">
    <img src="/static/img/admin/banner-1.png" class="card-img" height="100px" alt="...">
    <div class="card-img-overlay">
        <center><h1 class="display-5">Add Batch</h1> </center> 
    </div>
  </div>
</div>

  <!-- form -->
  <div class="container1 w-100">
  <div class="container w-75 p-5">
    <div class="card">
        <div class="card-body">
            <form>
                <div class="form-group">
                    <label for="batchName">Batch Name</label>
                    <input type="text" class="form-control" id="batchName" placeholder="Enter Batch Name">
                </div>
                <div class="form-group">
                    <label for="timing">Timing</label>
                    <input type="time" class="form-control" id="timing" placeholder="Enter Timing">
                </div>
                <div class="form-group">
                    <label for="numStudents">Number of Students</label>
                    <input type="number" class="form-control" id="numStudents" placeholder="Enter Number of Students">
                </div>
                <div class="form-group">
                    <label for="startDate">Batch Starting Date</label>
                    <input type="date" class="form-control" id="startDate">
                </div>
                <div class="form-group">
                    <label for="course">Course</label>
                    <select class="form-control" id="course">
                        <option value="course1">Course 1</option>
                        <option value="course2">Course 2</option>
                        <option value="course3">Course 3</option>
                    </select>
                </div>
                <hr>
                <h5>Add Students</h5>
                <div class="form-group">
                    <label for="studentName">Student Name</label>
                    <input type="text" class="form-control" id="studentName" placeholder="Enter Student Name">
                </div>
                <button type="button" class="btn btn-primary mt-3">Add Student</button>
                <hr>
                <center><button type="submit" class="btn btn-outline-secondary">Submit</button></center>
            </form>
        </div>
    </div>
</div>
</div>


<!-- footer -->
<div class="card-footer border-0 rounded-0 bg-black p-4">
    <div class="card-body text-white">
      <center> © 2023 LiveWire. All Rights Reserved
        <a href="" class=" float-end text-light"> @Contributers</a>
      </center>
    </div>
  </div>
  
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>


{% endblock %}