{% extends "/user/usernav.html" %}


{% block content %}


    <!-- 1 background -->
    <div class="card text-white bg-primary  rounded-0 border-0">
        <div class="card text-white bg-dark bg-opacity-50 rounded-0 border-0">
            <img src="/static/img/admin/banner-1.png" class="card-img" height="100px" alt="...">
            <div class="card-img-overlay">
                <center>
                    <h1 class="display-5">View Batch</h1>
                </center>
            </div>
        </div>
    </div>

    <!-- Cards -->
    <div class="container1 w-100 bg-dark bg-opacity-50 ">
    <div class="container p-5 ">
        <div class="row mt-5">
            <div class="col-md-3">
                <div class="card m-1">
                    <div class="card-body">
                        <h5 class="card-title">FULL STACK DEVELOPER</h5>
                        <p class="card-text">Timing : 11.00 AM</p>
                        <a href="#" class="btn  btn-dark">View More</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card m-1">
                    <div class="card-body">
                        <h5 class="card-title">JAVA DEVELOPER</h5>
                        <p class="card-text">Timing : 12.00 AM</p>
                        <a href="#" class="btn btn-dark">View More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card m-1">
                    <div class="card-body">
                        <h5 class="card-title">DATA SCIENCE</h5>
                        <p class="card-text">Timing : 1.00 PM</p>
                        <a href="#" class="btn btn-dark">View More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card m-1">
                    <div class="card-body">
                        <h5 class="card-title">MACHINE LEARNING</h5>
                        <p class="card-text">Timing : 2.00 PM</p>
                        <a href="#" class="btn btn-dark">View More</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- </div> -->

        <!-- <div class="container p-5"> -->
        <div class="row mt-5">
            <div class="col-md-3">
                <div class="card m-1">
                    <div class="card-body">
                        <h5 class="card-title">ARTIFICIAL INTELLIGENCE</h5>
                        <p class="card-text">Timing : 3.00 PM</p>
                        <a href="#" class="btn btn-dark">View More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card m-1">
                    <div class="card-body">
                        <h5 class="card-title">MERN STACK DEVELOPER</h5>
                        <p class="card-text">Timing : 4.00 PM</p>
                        <a href="#" class="btn btn-dark">View More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card m-1">
                    <div class="card-body">
                        <h5 class="card-title">MEAN STACK DEVELOPER</h5>
                        <p class="card-text">Timing : 5.00 PM</p>
                        <a href="#" class="btn btn-dark">View More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card m-1">
                    <div class="card-body">
                        <h5 class="card-title">PYTHON DEVELOPER</h5>
                        <p class="card-text">Timing : 6.00 PM</p>
                        <a href="#" class="btn btn-dark">View More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <!-- footer -->
    <div class="card-footer border-0 rounded-0 bg-black p-4 ">
        <div class="card-body text-white">
            <center> © 2023 LiveWire. All Rights Reserved
                <a href="" class=" float-end text-light"> @Contributers</a>
            </center>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>

{% endblock %}